@font-face {
  font-family: "Lovelo";
  src: url("./fonts/Lovelo.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: #060e18;
  color: #f0f0f0;
  font-family: "Roboto", sans-serif;
}

#imagem {
  background-image: none; /* Inicialmente sem imagem de fundo */
  background-size: contain; /* Ajusta a imagem para ser totalmente visível */
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Usa a altura total da viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  position: relative;
  transition: opacity 1s ease-in-out; /* Transição suave para a opacidade */
  opacity: 0; /* Inicialmente invisível */
}

#imagem.visible {
  opacity: 1; /* Torna a seção visível */
  background-image: url("./background.JPG"); /* Adiciona a imagem de fundo quando a seção está visível */
}

#imagem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

#imagem .mt-3 {
  position: relative;
  z-index: 2;
  color: #ffffff;
  padding: 20px;
  max-width: 100%;
}

.navbar {
  background-color: #0d6efd;
}

.navbar-brand,
.nav-link {
  color: #ffffff !important;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.section-dark {
  background-color: #060e18;
}

.section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
  animation: fadeIn 2s;
}

.font-lovelo {
  font-family: "Lovelo", sans-serif;
}

.rsvp {
  font-weight: bold;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

.font-color-section1 {
  color: #cccccc;
}
.light-section {
  background-color: #f0f0f0 !important;
}
.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}
.footer {
  background-color: #9b9b9b3d;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

.icon {
  font-size: 2rem;
  margin: 10px;
  color: #0d6efd;
  transition: color 0.3s;
}

.icon:hover {
  color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

#convite {
  position: relative;
}
